[submodule "geonetwork-domesticando-una-jauria-de-metagatos"]
	path = geonetwork-domesticando-una-jauria-de-metagatos
	url = git://github.com/Delawen/geonetwork-domesticando-una-jauria-de-metagatos.git
